<!DOCTYPE html>
<html>

<head>
  <title>Health | Home
  </title>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</head>

<body class="jumbotron text-center bg-light">
<div class="jumbotron bg-light">
  <h1 class="text-success display-3">HEALTH<span class="text-warning">CARE</span> </h1>
  <h2 class="text-secondary">Doctor &nbsp &nbsp ||  &nbsp&nbsp Patient </h2><br>
  <nav class="navbar navbar-expand-sm bg-light navbar-light btn btn-outline-success">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-success" href="/">Home </a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" href="/addPatient">Patient Register </a>
        </li>
      </ul>
    </nav>
    <br>
<div class="jumbotron border border-success bg-light">
 <form action="" method="POST">
        <fieldset>
            <input type="text" id ="id" name="id" placeholder="Patient's Private Key">
            <br><br>
            <input type="text" id ="patientName" name="patientName" placeholder="Patient Name">
            <br><br>
            <input type="text" id ="age" name="age" placeholder="Age">
            <br><br>
            <input type="text" id ="sex" name="sex" placeholder="Sex">
            <br><br>
            <input type="text" id ="blood" name="blood" placeholder="Blood">
            <br><br>
            <input type="text" id ="address" name="address" placeholder="Address">
            <br><br>
            <input type="text" id ="contactNo" name="contactNo" placeholder="Contact Number">
            <br><br>
            <input type="submit" value="Register" onclick="addPatient(event)">
        </fieldset>
    </form>    

</div>
</div>
  <script src="/javascripts/main.js"></script>
 </body>

</html>